@use '../utils/variables' as *;
@use '../utils/mixins' as *;
@use '../utils/keyframes'as *;

// HOME PAGE BUTTON

.headline__button {
    @include flex-center;
    @include font-body;
    @include button;
  
    &:hover {
      opacity: 0.9;
      @include box-shadow-hover;
    }
  }
  
  // HEART BUTTON
  
  .heart__button {
    position: relative;
    width: 22px;
    height: 21px;
  
    svg {
      position: absolute;
      top: 0;
      left: 0;
      transition: opacity 0.5s ease-in-out;
  
      &:first-of-type {
        opacity: 0;
  
        &:hover {
          opacity: 1;
        }
      }
  
      &:last-of-type {
        opacity: 1;
  
        &:hover {
          opacity: 0;
        }
      }
    }
  
    &:hover svg:first-of-type {
      opacity: 1;
    }
  
    .heart__button--outline {
      fill: none;
      stroke: #101010;
      opacity: 1;
    }
  }
  
  // RESTAURANTS PAGE BUTTON
  
  .command {
    @include flex-center;
    padding-bottom: 40px;
  
    .command__button {
      @include flex-center;
      @include font-body;
      @include button;
  
      &:hover {
        opacity: 0.9;
        @include box-shadow-hover;
      }
    }
  }