@use './variables' as *;

// KEYFRAMES LOADER

@keyframes loader {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0.5;
    }

    100% {
        opacity: 0;
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
// KEYFRAMES BUTTON

@keyframes hover {
    0% {
      transform: scale(1);
      opacity: 1;
    }

    100% {
      transform: scale(1.05);
      opacity: 0.9;
      box-shadow: 0px 8px 20px 0px $shadow-hover-color;
    }
  }

// KEYFRAMES MENU CARDS

@keyframes appear {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}